html{
  font-size: 62.5%;
}

body{
  font-family: $main-font;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 2px;
  padding: 0;
  text-shadow:
   -1px -1px 0 $dark-blue,  
    1px -1px 0 $dark-blue,
    -1px 1px 0 $dark-blue,
     1px 1px 0 $dark-blue;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}