.container{
  background-color: $blue;
  border: 2px solid $dark-blue;
  color: $white;
  margin: 20px auto 0 auto;
  max-width: 768px;
  padding: 20px;
}

@media only screen and (max-width: $medium-bp){
  .container{
    margin: 0 auto;
  }
}